.b-card {
    border: cornflowerblue solid 6px;
    border-radius: 2%;
    display: inline-block;
    text-align: center;
    margin: 1%;
    padding: 1%;
    
}

.b-carda {
    border: whitesmoke solid 3px;
    border-style:dashed;
    border-radius: 2%;
    display: block;
    flex-wrap:wrap;
    text-align: center;
    margin: 1%;
    padding: 1%;
    
}