

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <ul>
                <li>
                    <div class="b-card">
                       <img src="{{characterDetail.image}}" alt="{{characterDetail.name}}">
                       <div>
                       <h3>{{characterDetail.name | uppercase}}</h3>
                       <p>{{characterDetail.status}} - {{characterDetail.species}}</p>
                       <p>{{characterDetail.gender}}</p>
                       <p>Last known location: {{characterDetail.location.name}}</p>
                       <p>First seen in: {{characterDetail.origin.name}}</p>
                    </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>