
<div class="container">
    <div class="row">
        <div class="col col-lg-8 col-md-10 col-sm-12">
            <ul>
                <li *ngFor= "let item of charactersList" [routerLink]="['/characters', item.id]"  class="b-card">
                    <h3>{{item.name | uppercase}}</h3>
                    <img src="{{item.image}}" alt="{{item.name}}">
                </li>
            </ul>
        </div>
    </div>
</div>