<h1>EPISODES</h1>

<div>
    <ul>
        <li *ngFor= "let episode of episodeList" class="b-card">
            <h3>{{episode.name | uppercase}}</h3>
            <p>{{episode.air_date}}</p>
            <p>{{episode.episode}}</p>
            <p>{{episode.created}}</p>
        </li>
    </ul>
</div>
<div ></div>