<div class="b-card">

<div>
    <h3>Name: {{locationDetail.name}}</h3>
    <p>Type: {{locationDetail.type}}</p>
    <p>Dimension: {{locationDetail.dimension}}</p>

</div>

<h4>Residents</h4>
<div *ngFor="let res of residentsLocation"> 
  
    <p>{{res.name}}</p>
    <img src="{{res.image}}"  alt="{{res.name}}">
   
</div>
</div>

