<nav class="nav">
    <a routerLink="/home" class="nav-link active" href="#!">Home🏡</a>
    <a routerLink="/characters" class="nav-link" href="#!">Characters👦🏼👨🏼‍🦳</a>
    <a routerLink="/locations" class="nav-link" href="#!">Locations🌎</a>
    <a routerLink="/episodes" class="nav-link" href="#!">Episodes🎬</a>
    <a routerLink="/about" class="nav-link" href="#!">About🧁</a>
</nav>
