


  html{
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    color:rgba(255, 255, 255, 0.849);
    margin: auto 0;
    
   
    
    

    .stars  {
        
        display: inline-block;
        flex-wrap: wrap;
        width:100%; height:100%;
        background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
        
    }
    


    
    
        
    
    
    
    
}

