<h1>ABOUT</h1>

<div class="b-carda">
    <h3>Who am I?</h3>
    <P>HI! I'm Hannah and currently I'm a student in a veeeeeeeery intense Bootcamp with the intention or wish to become a not so bad Full Stack Developer.  </P>
    
</div>



<div class="b-carda">
    <h3>What is this?</h3>
    <p>This is an app based on the television show Rick and Morty. You will have access to about hundreds of characters, images, locations and episodes. The Rick and Morty API is filled with canonical information as seen on the TV show. </p>
</div>


<div class="b-carda">
    <h3>Why?</h3>
    <p>This was a project assigned by the bootcamps' staff/teachers to help us put into practice, if not all, most of the theory that was shown. </p>
</div>


<div class="b-carda">
    <h3>How?</h3>
    <p>Basically we've learnt how to use a very commun framwork called Angular and through a free API of Rick and Morty we managed to pull out features like the characters, the episodes and the locations of the TV show.</p>
</div>


<div class="b-carda">
    <h3>Where?</h3>
    <p>In my GitLab, I guess🦊.</p>
</div>