<h1 class="d-flex justify-content-center">RICK AND MORTY</h1>

<h3 class="d-flex justify-content-center">WELCOME HOME!😊🙌</h3>
<P class="d-flex justify-content-center"
  >Welcome to my very first APP of Rick and Morty!✨</P>

<div>
  <h3 class="d-flex justify-content-center">671 CHARACTERS</h3>
</div>

<div>
  <h3 class="d-flex justify-content-center">108 LOCATIONS</h3>
</div>

<div>
  <h3 class="d-flex justify-content-center">41 EPISODES</h3>
</div>
