/* You can add global styles to this file, and also import other style files */
/*SETTINGS*/
header nav {
    display: block;
  }
  
  @media screen and (max-width: 768px) {
    header nav {
      display: none;
    }
  }
  @media screen and (orientation: landscape) {
    header nav {
      position: fixed;
      left: 0;
      width: 20vw;
    }
  }
/*TOOLS*/

/*GENERIC*/



/*ELEMENTS*/
@import "styles/elements/html.elements";
@import "styles/elements/img.elements";
@import "styles/elements/h1.elements";
@import "styles/elements/nav.elements";
@import "styles/elements/h3.elements";
@import "styles/elements/p.elements";
@import "styles/elements/div.elements";
@import "styles/elements/li.elements";


/*BLOCKS*/ 

@import "styles/blocks/card.blocks";



/*UTILITIES*/

